<div class="row">
  <div class="large-12 columns">
    <h2>Memworks is a better way of learning</h2>
    <h3 class="subheader">We leverage the power of spaced repetition to help you retain knowledge and keep improving</h3>
  </div>
  <%- if user_signed_in? %>
    <%= link_to("Practice Now", user_my_deck_path(current_user), class: "button right") %>
  <%- end -%>
</div>
<div class="row">
  <div class="large-4 columns">
    <h5>Learn faster</h5>
    <p>Learning is all about retention. Memworks helps you retain information by spacing out your exposure to new knowledge. We make practice easy by giving you information about when and where you should focus your efforts.</p>
  </div>
  <div class="large-4 columns">
    <h5>How it works</h5>
    <p>Once you start a Memworks lesson, you'll be presented with a curated collection of external learning material. Complete them, and Memworks will challenge you on your new knowledge. For every challenge you complete, Memworks tracks your performance. We apply a sophisticated algorithm to determine when you should study that material next. Once you've learned a new skill with Memworks, we make sure you retain it.</p>
  </div>
  <div class="large-4 columns">
    <h5>Results</h5>
    <p>As you increase in mastery, Memworks will hone in on your areas of weakness and turn them into strengths. You'll spend more time practicing skills you're unfamiliar with, and less time on established skills.</p>
  </div>
</div>
