<div class ="row">
  <h2>Sorry!</h2>
  <h3 class="subheader">Sorry, you haven't completed any cards yet</h3>
  <h4 class="subheader">Why not try out a lesson? Come back once you've done a challenge or two.</h4>
  <a class="button try-lesson" href="/lessons">Explore Lessons</a>
</div>
