<div class="row">
  <h2>Deck completed</h2>
  <a class="button" href="my_deck">Replay Deck</a>
  <a class="button" href="/">Return to Home</a>

  <h2 class="subheader">Why not learn something new?</h2>
  <a class="button success" href="/lessons">Explore Lessons</a>
</div>
