<div class="row">
  <div class="large-12 columns">
    <h4><%= @assignment.title %></h4>
    <h4 class="subheader"><%= @assignment.summary %></h4>
    <p><%= @assignment.instructions %></p>
  </div>
</div>

