<%- @lessons.ascending_by_title.each do |lesson| -%>
  <div class="row">
    <div class="large-12 columns panel">
        <div class="large-8 columns">
          <div class="lesson-title"><h4><%= link_to( lesson.title, lesson_path(lesson) ) %></h4></div>
          <div class="lesson-summary"><h4 class="subheader"><%= lesson.summary %></h4></div>
        </div>
        <div class="large-4 columns">
          <%= link_to("Start!", lesson_path(lesson), :class => "large button success") %>
        </div>
    </div>
  </div>
<%- end -%>
