<ul>
  <%- @lessons.ascending_by_title.each do |lesson| -%>
    <li>
      <div class="lesson-title"><%= link_to( lesson.title, lesson_path(lesson) ) %></div>
      <div class="lesson-summary"><p><%= lesson.summary %></p></div>
    </li>
  <%- end -%>
</ul>
