<ul>
  <%- @lesson.activities.order("position").each do |activity| -%>
    <%- if activity.completable_type == "Assignment" -%>
      <li class="assignment"><%= "#{activity.completable.title}: #{activity.completable.instructions}" %></li>
    <%- elsif activity.completable_type == "Challenge" -%>
      <li class="challenge"><%= "#{activity.completable.title}" %></li>
    <%- end -%>
  <%- end -%>
</ul>
