<ul>
  <%- @lesson.curriculum.each do |curriculum_item| -%>
    <%- if curriculum_item.class == Assignment -%>
      <li class="assignment"><%= "#{curriculum_item.title}: #{curriculum_item.instructions}" %></li>
    <%- elsif curriculum_item.class == Challenge -%>
      <li class="challenge"><%= "#{curriculum_item.title}" %></li>
    <%- end -%>
  <%- end -%>
</ul>
