<ul>
  <%- @lesson.curriculum.each do |curriculum_item| -%>
    <%- if curriculum_item[:assignment] -%>
      <li class="assignment"><%= "#{curriculum_item[:assignment].title}: #{curriculum_item[:assignment].instructions}" %></li>
    <%- elsif curriculum_item[:challenge] -%>
      <li class="challenge"><%= "#{curriculum_item[:challenge].title}" %></li>
    <%- end -%>
  <%- end -%>
</ul>
