<div class="row">
  <div class="panel">
    <h2>Practice</h2>
    <p>Work through a set of all your completed challenges. The challenges you need to study will always come first. Stop at any time.</p>
  </div>
</div>
<div class="card-container">
</div>
