<h2><%= @challenge.title %></h2>

<%- @challenge.cards.each do |card| -%>
  <h3><%= card.title %></h3>
  <strong>Instructions: </strong><p><%= card.instructions %></p>
  <hr>
  <p><%= card.problem %></p>
<%- end -%>
