<h2>Challenge completed</h2>
<h3>Your score:</h3>
<h3 class="subheader" id="final-score">{{score}}</h3>
<a class="button" href="/lessons/{{lesson_id}}">Continue Lesson</a>
<a class="button" href="/lessons/{{lesson_id}}/challenges/{{challenge_id}}">Replay Challenge</a>
<a class="button" href="/">Return to Home</a>
