<h2>Challenge completed</h2>
<h3>Your score:</h3>
<h3 class="subheader" id="final-score">{{score}}</h3>
<a class="button" href="/lessons/{{lessonID}}">Continue Lesson</a>
<a class="button" href="/lessons/{{lessonID}}/challenges/{{challengeID}}">Repeat Challenge</a>
<a class="button" href="/">Return to Home</a>
