code.clickable-snippet {
  line-height: 1.1em;
  span.click-response {
    margin: 1px;
    &.selected-position {
      background-color: gray;
    }
    &:hover {
      margin: 0;
      border: 1px solid black;
      border-radius: 2px;
    }
    &:active {
      background-color: green;
    }
  }
}

code.solution-snippet {
  line-height: 1.1em;
  span.solution-position {
    background-color: green;
  }
}
