.logo {
  display: inline;
}

div#main-banner {
  margin-bottom: 0;
}

div.fixed nav.top-bar li.name a:before {
  content: "Memworks"
}

span.hint {
  font-size: 10px;
  position: relative;
  bottom: 18px;
}
