// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  display: inline;
}

div#main-banner {
  margin-bottom: 0;
}

div.fixed nav.top-bar li.name a:before {
  content: "Memworks"
}
