.logo {
  display: inline;
}

div#main-banner {
  margin-bottom: 0;
}

div.fixed nav.top-bar li.name a:before {
  content: "Memworks"
}

span.hint {
  font-size: 10px;
  position: relative;
  bottom: 18px;
}

.nav-button {
  margin-left: 5px;
  margin-right: 5px;
}

.sticky {
  border-bottom: 1px solid #ddf0fc;
  box-shadow: 0 0 6px rgba(45,45,35,.3);
}

.get-started {
  margin-left: 48px;
}
