<div class="masthead">
  <h1 class="logo"><%= link_to("Memworks ", root_path) %></h1><h2 class="logo subheader">Boosted Learning</h2>
  <%- if user_signed_in? -%>
    <%= link_to("Get Started", lessons_path, :class =>"button success get-started") %>
  <%- else -%>
    <%= link_to("Get Started", new_user_registration_path, :class =>"button success get-started") %>
  <%- end -%>
</div>
<div class="panel callout" id="main-banner">
  <div class="row">
    <div class="large-4 columns">
      <h4>Learn Faster</h4>
    </div>
    <div class="large-4 columns">
      <h4>Retain Longer</h4>
    </div>
    <div class="large-4 columns">
      <h4>Track Your Progress</h4>
    </div>
  </div>
</div>
